.divider {
    height: 0.05rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
.border {
    border-style: solid;
    border-width: 0.01rem;
    border-color: lightgray;
    border-radius: 5px;
    padding-bottom: 1rem;
}
.table-header{
    padding: 0.5rem !important;
}
.container-filter{
    margin-bottom: 20px;
}
.normal{
    display: unset;
}
.red{
    display: unset;
    color: red;
}
.yellow{
    display: unset;
    color: orange;
}
.row-selected {
	border-style: solid;
	border-color: #9ec5fe;
	border-width: 0.2rem;
}
.filter-row{
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
    width: 60% !important;
}
.container-select-runs{
    overflow-y: auto;
    height: 100%;
}
.card-body{
    overflow-y: scroll;
}
.container-select-test{
    overflow-y: auto;
    max-height: 666px;
    border-style: solid;
    border-width: 0.01rem;
    border-color: lightgray;
    border-radius: 5px;
}
.container-info{
    padding-top: 1rem !important;
}
.row-select-runs{
    height: 126px;
}
.tests-passed{
    color: green;
}
.tests-passedFailed{
    color: orange;
}
.tests-failed{
    color: red;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 0.3rem;
  }
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.link-collapse {
    text-decoration: none;
    color: black;
}
#toggles{
    padding: 1rem;
}
#div-filter-select{
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
#run-selection-text{
    padding-top: 0.5rem !important;
}
#container-collapse-two{
    padding-left: 14rem;
    padding-right: 14rem;
}
.container-filter-row{
    max-width: 50%;
}
#container-main{
    width: 96%;
}
thead th {
    position: sticky;
    top: 0;
}